.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 8px;
  }
  
  /* Responsive Styles */
  @media (max-width: 400px) {
    .modal-content {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
      padding: 16px;
    }
  }
  